@tailwind base;
@tailwind components;
@tailwind utilities;

/* Admin styles */
h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

.form-table th {
    vertical-align: middle;
}

.wp-editor-wrap {
    width: 50%;
}

input[type=text], input[type=email], input[type=url], input[type=tel], textarea {
    @apply pt-1 pb-1 w-full lg:w-1/2;
}

/* Disable a non form element */
.disable-non-form-element {
    pointer-events: none;
    opacity: .5;
}